name: pre-commit-check
on: [push, pull_request]
jobs:
  Pull-request-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Git
        run: |
          git status
      - uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings.
          flake8 . --count --exit-zero --max-complexity=10 --statistics
      - name: Pytest
        run: |
          pytest main/githooks.py
      - run: echo $(git diff --name-only --diff-filter=AM ${{ github.event.before }} ${{ github.sha }})
      - name: Branch name
        run: echo "branch $GITHUB_REF sha $GITHUB_SHA repo $GITHUB_REPOSITORY actor $GITHUB_ACTOR"
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: 'csv'
      - id: dog_food_new_files
        uses: ccdc-opensource/commit-hooks@precommit_action
        with:
          files: ${{ steps.files.outputs.added }}
          new_files: 1
      - id: dog_food_modified_files
        uses: ccdc-opensource/commit-hooks@precommit_action
        with:
          files: ${{ steps.files.outputs.modified }}
          new_files: 0
